---
interface Props {
    title: string;
    font?: string;
}
const { title, font} = Astro.props;

const decription = "The coziest Flipper Zero database";
const fediverse = "https://sunny.garden/@PolyCat"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={decription} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link href={font} rel="stylesheet">
        <title>{title}</title>
        <a rel="me" href={fediverse}>Mastodon</a>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    * {
        font-family: Courier, monospace;
        font-size: 100%;
        margin: 0;
    }

    body {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
