---
interface Props {
    title: string;
    fonts?: Array<{ href: string; rel: string }>;
}
const { title, fonts } = Astro.props;

const decription = "The coziest Flipper Zero database";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={decription} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        {fonts && fonts.map((font) => <link href={font.href} rel={font.rel} />)}
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    * {
        font-family: Courier, monospace;
        font-size: 100%;
        margin: 0;
    }

    body {
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

</style>
